// Font-size
$fs-1: 13px;
$fs-2: 14px;
$fs-3: 15px;
$fs-4: 1.1rem;
$fs-5: 1.5rem;
$fs-6: 1.55rem;
$fs-7: 2.5rem;
$fs-8: 0.75rem;
$fs-9: 0.9rem;
$fs-10:3.5rem;
$fs-11: 0.8em;
// Color
$color-white-1:#fff;
$color-purple-1:#b61984;
$color-black-1:#181818;
$color-black-2:#191919;
// Font weight
$fw-1: 300;
$fw-2: 400;
$fw-3: 600;
$fw-4: 700;
$fw-5: 500;
// Letter spacing
$ls-1:1px;
// Line hight
$lh:3.1em;
//break points
$breakpoints: ( "extra-large": 1200px, "large": 992px, "medium": 768px, "small": 576px, "extra-large-down": 1199.98px, "large-down": 991.98px, "medium-down": 767.98px, "small-down": 575.98px, );