.detail {
    margin-top: 50px;
    position: relative;
    height: auto;
    background-color: #DCD1F0;
    .detail__img__top {
        position: absolute;
        top: -246px;
        img {
            width: 100%;
        }
    }
    .detail__img__bottom {
        position: absolute;
        bottom: -4px;
        img {
            width: 100%;
        }
    }
}